
\.vscode/settings\.json

__pycache__/

\.mypy_cache/*

######## Examples
# mnist
examples/mnist/data/*.tfrecords
examples/mnist/make_records/data
examples/mnist/trial_01/*
examples/mnist/saved_params/best_params/

# cats v dogs
examples/cats_v_dogs_01/make_records/\.ipynb_checkpoints/
examples/cats_v_dogs_01/data/train/
examples/cats_v_dogs_01/\.ipynb_checkpoints/
examples/cats_v_dogs_01/data/numpy/150/
examples/cats_v_dogs_01/data/train\.zip
examples/cats_v_dogs_01/data/record_holder/150/
examples/cats_v_dogs_01/trial_01/*

# iris
examples/iris/make_records/\.ipynb_checkpoints/
examples/iris/make_records/raw/

# cali housing
examples/cali_housing/make_records/\.ipynb_checkpoints/
examples/cali_housing/make_records/raw_data/*
examples/cali_housing/data/*.tfrecords
examples/cali_housing/trial_01/*
examples/cali_housing/data/*

# sentiment_imdb
examples/sentiment_imdb/make_records/\.ipynb_checkpoints/
examples/sentiment_imdb/data/*.tfrecords
examples/cali_housing/trial_01/*

# segmentation
examples/segmentation/make_records/\.ipynb_checkpoints/
examples/segmentation/make_records/raw/ISIC-2017_Test_V2_Data/
examples/segmentation/make_records/raw/ISIC-2017_Test_V2_Part1_GroundTruth/
examples/segmentation/make_records/raw/ISIC-2017_Training_Data/
examples/segmentation/make_records/raw/ISIC-2017_Training_Part1_GroundTruth/
examples/segmentation/make_records/numpy_prep/224_224/
examples/segmentation/make_records/numpy_final/224_224/
examples/segmentation/data/224_224/
examples/segmentation/trial_01/best_params/
examples/segmentation/trial_01/tf_logs/*
examples/segmentation/trial_01/yf_logs/

# multi - segmentation
examples/multi_segmentation/make_records/\.ipynb_checkpoints/
examples/multi_segmentation/make_records/raw/*
examples/multi_segmentation/data/*
examples/multi_segmentation/trial_01/best_params/
examples/multi_segmentation/trial_01/tf_logs/*
examples/multi_segmentation/trial_01/yf_logs/
