
\.vscode/settings\.json

__pycache__/

\.mypy_cache/*
src/yeahml/*/\.mypy_cache/3\.6/
tests/unit/yeahml/config/defaults/\.mypy_cache/

######## Examples
examples/*/yeahml


\.ipynb_checkpoints/



src/yeahml\.egg-info/

htmlcov/



examples/imbd/yeahml/imdb/trial_00/model_b/run_2020_06_14-12_43_30/tf_logs/train/
